/*说明*/


*{
	margin: 0;
	padding:0;
	font-family: 'Microsoft YaHei','SimHei' , 'NSimSun','MingLiU';
	font-smooth:antialiased;
	webkit-font-smooth:antialiased;
}

.head{
	height: 40px;
	width: 100%;
	font-size: 24px;
	color:black;
	text-align: center;
}
#explain{
	width:670px;
	height: 400px;
	background: #eee;
	border:1px solid #666;
	margin:100px auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0 1px 4px  #000;
}
#explain .title{
	width: 670px;
	height: 50px;
	background: #FFD500;
	line-height: 50px;
	max-height: 60px;
	font-size: 23px;
	color: #000;
	text-indent: 5px;
	word-wrap: break-word;
	overflow: hidden;
}

#explain .content{
	margin-top:10px; 
	max-height: 275px;
	width: 670px;
	font-size: 20px;
	text-indent: 2em;
	color: #4E4D4D;
	word-wrap: break-word;
	overflow: auto;
	letter-spacing: 2px;
	padding-left: 4px;
}

#explain .register{
	width:150px;
	height: 40px;
	border:none;
	font-size: 16px;
	position: absolute;
	bottom: 25px;left: 20%;
	background: #FFD500;
	box-shadow: 1px 1px 2px #666;
}


#explain .login{
	width:150px;
	height: 40px;
	border:none;
	font-size: 16px;
	position: absolute;
	background: #FFD500;
	bottom: 25px;right: 20%;
	box-shadow: 1px 1px 2px #666;
}
#explain .login:hover , #explain .register:hover{
	box-shadow: none;
	background: #DCB906;
}

.box{
	width: 100%;
	background: url(../image/indexBg.png); 
	position: relative;
	overflow: hidden;
}
#help{
	background: url(../image/indexHelp.png);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	overflow: hidden;
}
#help .content{
	width: 800px;
	height: 500px;
	margin: 0 auto;
	border:2px solid #fff;
	letter-spacing:3px;
	padding: 5px;
	overflow: auto;
	background-color: #fff;
}
#control{
	position: absolute;
	top:10px;
	left: 10px;
	display: block;
	width: 100px;
	height: 40px;
	border:none;
}
#back {
	display: block;
	width: 100px;
	height: 40px;
	border:none;
	text-align: center;
	text-decoration: none;
	margin-top:10px;
	margin-left:10px;  
}
#a{
	text-decoration: none;
	color:black;
	cursor: pointer;
	font-size: 15px;
}
#admin{
	margin-left: 1280px;
}