*{
	margin: 0;
	padding: 0;
	font-size: '微软雅黑';
}
body{
	background: #056B8E;
}
.title{
	text-align: center;
	margin-bottom: 0px;
	color:#fff;
}
#box{
	position: relative;
	border:3px solid #fff;
	background: url('../image/boxbg.png');
}
#txt{
	display: block;
	width:80%;
	height:70%;
	resize: none;
	margin: 10px auto;
	letter-spacing: 1px;
	padding: 4px;
}
#sub{
	display: block;
	width: 100px;
	height: 35px;
	position: absolute;
	background: #FFD500;
	border:none;
	bottom: 10px;
	left: 20%;
	
}
.color{
	border-bottom:2px solid #fff;
}
#other{
	width: 100px;
	height: 35px;
	background: #FFD500;
	border:none;
	position: absolute;
	bottom: 10px;
	right: 20%;
}
#sub:hover , #other:hover{
	background: #DCB906;
}